/* .cardsList {
  transition: all 0.25s ease-in-out;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  position: relative;
  padding: 3rem var(--section-padding-x);
  margin: 0 var(--section-padding-negative-x);
  border-top: 1px solid var(--black-transparent);
  transition: all 0.25s ease-in-out;
}

.card a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.card h3 {
  font-size: 3.5em;
  font-weight: 300;
  transition: all 0.25s ease-in-out;
}

.description {
  font-size: 1.15em;
  font-style: italic;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.cta {
  position: relative;
  opacity: 0;
  font-size: 1.5em;
  transition: all 0.25s ease-in-out;
}

.imageContainer {
  position: absolute;
  width: 500px;
  height: 300px;
  top: -1rem;
  right: 3rem;
  opacity: 0;
  z-index: 1;
  transition: all 0.25s ease-in-out;
}

.image {
  object-fit: contain;
}

.cardsList:hover h3 {
  opacity: 0.2;
}

.card:hover .description,
.card:hover h3,
.card:hover .cta,
.card:hover .imageContainer,
.cta:focus {
  opacity: 1;
}

@media (min-width: 1100px) {
  .card h3 {
    max-width: 60vw;
  }
}

@media (max-width: 1100px) {
  .cardsList:hover h3 {
    opacity: 1;
  }

  .card h3 {
    font-size: 3em;
    order: 1;
    opacity: 1;
  }

  .imageContainer {
    order: 2;
    opacity: 1;
    position: relative;
    top: auto;
    right: auto;
    width: 300px;
    height: 200px;
  }

  .description {
    order: 3;
    opacity: 1;
  }

  .cta {
    order: 4;
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .card h3 {
    font-size: 2em;
  }

  .cta {
    font-size: 1.25em;
  }

  .ctaContainer {
    flex-direction: column;
  }
} */
