.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4em;
  padding-bottom: 2em;
}

.imageContainer {
  position: relative;
}

.image {
  object-fit: contain;
}

.body {
  position: relative;
  padding-top: 0;
  margin-bottom: calc(var(--section-padding-y) * 2);
}

.body aside {
  display: none;
  position: sticky;
  top: 120px;
}

.body nav {
  position: absolute;
  top: 1em;
  bottom: 0;
  left: 3em;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: min-content;
  gap: 2em;
  font-size: 0.9em;
}

.body nav h2 {
  font-size: 1.2em;
}

.tocFlex {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 1em;
}

.markdownContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  padding-top: 0;
}

@media (max-width: 800px) {
  .hero {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .image {
    object-position: left;
  }
}

@media (min-width: 1200px) {
  .hero {
    max-width: 80vw;
    margin: auto;
  }

  .body aside {
    display: flex;
  }

  .markdownContainer {
    max-width: 58vw;
    margin-left: auto;
    margin-right: 10em;
  }
}
